@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.closed .answer {
  animation: disappear 0.5s linear;
}